<section>
  <div class="ui four column page doubling grid" id="Index">
    <div class="column">
      <div class="ui big raised link segment" {{action "staff"}}>
        <div class="ui fade reveal">
          <div class="visible content index">
            <img src="/assets/images/Doctor_by_mimooh.svg" class="ui small bordered centered image">
          </div>
          <div class="hidden content">
            Go To Staff Page
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
