<div class="ui small raised segment">
  <i class="list layout large link icon" {{action "toggleTemplate" "list" on="click" target=view}}></i>
  <i class="block layout large link icon" {{action "toggleTemplate" "block" on="click" target=view}}></i>
</div>
<div class="content-wrapper">
  {{yield}}
</div>
