<div class="ui raised segment">
  {{#if content}}
    <div class="ui grid">
      <div class="doubling four column row">
        {{#each person in content}}
          <div class="column">
            {{person-card}}
          </div>
        {{/each}}
      </div>  
    </div>
  {{else}}
    no persons yet
  {{/if}}
</div>